<div class="analyse_container">
	<div>Choose an existing build profile to analyse for Dojo modules.</div>
	<div class="analyse_form_container">
		<form action="./api/dependencies" method="post" enctype="multipart/form-data">
			<input name="value" type="file"></input>
			<input name="type" type="hidden" value="PROFILE"></input>
			<div class="build">
				<button dojoType="dojox.form.BusyButton" busyLabel="Analysing..." label="Analyse" timeout="100000">
				</button>
			</div>
		</form>
	</div>
</div>
