<div class="introDialog feedbackDialog">
    <div class="content">
        Use the form below to submit your feedback about the Dojo Web Builder. We really appreciate all comments, feature requests and bug notifications!
        <form dojoType="dijit.form.Form" class="feedbackForm">
            <div>
                <div class="name">
                    <label>Name</label> 
                    <input dojoType="dijit.form.ValidationTextBox" name="name" type="text"></input>
                </div>
                <div class="email">
                    <label>Email Address</label>
                    <input dojoType="dijit.form.TextBox" name="email" type="text"></input>
                </div>
            </div>
            <label class="categoryLabel">Feedback Category</label>
            <select name="category" dojoType="dijit.form.Select" style="width: 200px;">
                <option value="comment">
                Comment
                </option>
                <option value="feature">
                Feature Request
                </option>
                <option value="bug">
                Bug Report
                </option>
            </select>
            <label>Details</label>
            <textarea name="details" dojoType="dijit.form.SimpleTextarea"></textarea>
            <div class="submit">
            <button dojoType="dijit.form.Button" type="submit" disabled="true">
                Submit 
            </button>
            </div>
        </form>
    </div>
</div>
