<div class="introDialog">
<h1>Welcome to the Dojo Web Builder!</h1>
<div class="content">This tool provides a web front-end to the existing Dojo Toolkit build system. Search through the entire catalogue
of Dojo, Dijit and DojoX modules, automatically find module dependencies in existing Dojo applications and generate custom builds
from the results. For more detailed help, see the "Help" tab in the main application. 
</div>
<div class="footer">
	<div class="confirmation">
		<div class="label">Show this dialog next time</div>
		<input type="radio" dojoType="dijit.form.CheckBox" onChange="dojo.publish('dwb/dialog/shownAtLoad', [{'value': this.get('checked')}]);" checked="true"></input>
	</div>
	<div>Enjoy!</div>
</div>
</div>